.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video{
  border:none;
  overflow:"hidden";
  
               
}

.userPhoto{
  /* margin-top: 20px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.news-card{
  height: 300px;
}

.img-size{
  border-radius: 50%;
  margin-top: 15px;
  width: 140px !important;
  height: 120px;
}

.colored-text {
  color: #e76f51;
}
.colored-name {
  color: #eb0f5d;
}

.news-card{
  height: 300px;
}

.title-1{
  color: #eb0f5d;
}

.container-full-height{
  border: 1px solid red;
}